@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins&family=Red+Hat+Mono:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    margin: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.menu {
    display: flex;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    height: 20px;
    box-shadow: 2px 2px 2px gray;
}

.menu:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.menu:active {
    box-shadow: inset 2px 2px 2px gray;
}

.header {
    font-size: 40px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    /*border: 1px solid black;*/
    /*background: #eeeeee;*/
    width: 310px;
}

.letter {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    background: white;
    width: 60px;
    height: 70px;
    border: 2px solid #d4d4d4;
    border-radius: 2px;
    margin: 2px;
    transition: all .5s ease-in-out;
}

.keyboard {
    margin: 50pt;
}

.keyboardRow {
    display: flex;
    justify-content: center;
    align-content: center;
    /*border: 1px solid black;*/
    /*background: #dddddd;*/
}

.key {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background: white;
    width: 40px;
    height: 50px;
    border: 2px solid #d4d4d4;
    border-radius: 2px;
    margin: 2px;
    transition: all .2s ease-in-out;
}

.functionalKey {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background: white;
    width: 80px;
    height: 50px;
    border: 2px solid #d4d4d4;
    border-radius: 2px;
    margin: 2px;
}

.functionalKey:hover, .key:hover {
    cursor: pointer;
    background: #dddddd;
}


#endContent {
    /*visibility: hidden;*/
    opacity: 0;
    position: absolute;
    top: 120px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    width: 600px;
    border-radius: 5px;
    border: 1px solid black;
    background: #eeeeee;
    box-shadow: 5px 5px 5px gray;
    transition: all 1s ease-in-out;
}

#statistics {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.windowTop {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 20px;
}

#closeEndgame {
    width: 20px;
    font-size: 30px;
    padding-right: 10px;
}

#closeEndgame:hover {
    font-weight: bold;
    cursor: pointer;
}

#endgame {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

#noDictionary {
    visibility: hidden;
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 350px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid black;
    background: #eeeeee;
    box-shadow: 5px 5px 5px gray;
    padding: 20px;
    transition: all 1s ease-in-out;
}


.statRow {
    display: flex;
    align-content: center;
}

.statNum {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /*margin-top: 3px;*/
    width: 20px;
    height: 30px;
}

.statBar {
    text-align: right;
    margin: 3px;
    width: 30px;
    height: 25px;
    background-color: #6AAA64;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-right: 3px;
}

.statRowHeader {
    text-align: center;
    margin: 5px;
}